<html>
 <body>
  <h1> TP Anonymous Gift </h1>
  <h2> Accueil </h1>
  <form action="{{path('acme_blog_connexion')}}" method="post"><br>
  <input type="submit" style="font-weight:bold;" value="Connexion">
  </form>
  <form action="{{path('acme_blog_inscription')}}" method="post"><br>
  <input type="submit" style="font-weight:bold;" value="Inscription">
  </form>
 </body>
</html>

